*{
  box-sizing: border-box;
}

html {
  background-color: #394264;
}
body {
  display: block;
  font-family: sans-serif;
  background-color: #1F253D;
  height: 800px;
}

h1, h3, h4 {
  color: #FFFFE6;
  }


h1 {
  position: relative;  
  margin: 0 auto;  
  text-align: center;
  padding-bottom: 25px;
  padding-top: 105px;
  font-weight: 800;
  font-size: 2.75em;

}



